*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.header-note{
    background-color: black;
    padding: 13px 0;
    text-align: center;
    font-size: 13px;
}

.header-note_text{
    color: white;
    text-decoration: none;
}

.header-nav{
    height: 95px;
    display: flex;
    position: relative;
    align-items: center;
}

.header-nav_bigbox{
    width: 33.3%;
    display: flex;
}

.bigbox-center{
    justify-content: center;
}

.bigbox-right{
    justify-content: end;
}

.header-nav_menu{
    height: 40px;
    width: 40px;
    border: none;
    margin-left: 20px;
    background-color: white;
    transition: transform 0.1s ease-in-out;
}

.header-nav_menu:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.header-nav_logo{
    width: 200px;
    background-color: black;
    text-align: center;
    height: 40px;
    line-height: 40px;
    /* margin-left: 140px; */
}

.header-nav_logo_text{
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
}

.header-nav_rightbox{
    margin-right: 20px;
}

.rightbox-icon{
    padding: 0 20px;
    text-decoration: none;
    transition: transform 0.1s ease-in-out;
}

.rightbox-icon-img:hover{
    transform: scale(1.1);
}

#container{
    position: relative;
    width: 100%;
}
.container-banner{
    position: relative;
    display: flex;
    height: 750px;
    background: url(/asset/img/newbackground.png) center no-repeat;
    justify-content: center;
}

.container-banner_box {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    padding: 10px 0;
    justify-content: center;
}

.container-banner_box_text{
    color: whitesmoke;
    font-weight: bold;
    padding: 0 0 30px 0;
}

.container-banner_box_btn{
    padding: 15px 140px;
    font-size: 16px;
    margin-left: 18px;
    letter-spacing: 4px;
    background-color: white;
}

.container-banner_box_btn:hover{
    cursor: pointer;
    background-color: #ccc;
}

.container-navcollection{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-navcollection_left{
    position: relative;
    width: 20%;
    display: flex;
    justify-content: space-around;
    height: 85px;
    margin-left: 20px;
}

.navcollection_left{
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
}

.navcollection_left_newarrival{
    border-bottom: 2px solid black;
}

.navcollection_left_text{
    font-size: 18px;
    color: gray;
    text-decoration: none;
}

.container-navcollection_btnshowall{
    margin-right: 20px;
    width: 8%;
    display: flex;
    background-color: black;
    transition: box-shadow 0.3s ease-in-out;
}

.navcollection_btnshowall_text{
    padding: 10px 0;
    margin: auto;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 12px;
}

.container-navcollection_btnshowall:hover{
    box-shadow: 0 0 0 4px #000000;
}

/*---------------------------------*/

.container-listnewarrival{
    width: 100%;
    position: relative;
    display: flex;
}

.container-listnewarrival_product{
    position: relative;
    width: 25%;
    border: .3px solid rgb(238, 237, 237);
    padding: 10px 20px;
    font-size: 14px;
}

.prod-background {
    object-fit: cover;
}

.prod-background_img{
    width: 100%;
}

.prod-color{
    height: 15px;
    width: 15px;
    background-color: green;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.2));
    margin: 10px 0 20px 0;
}

.prod-name{
    display: block;
    padding-bottom: 5px;
}

.prod-price{
    display: inline-block;
    font-size: 16px;
}

.prod-color_prod2{
    height: 15px;
    margin: 10px 0 20px 0;
    display: flex;
}

.prod-color-prod{
    height: 100%;
    width: 15px;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.2));
}

.prod-name_tag {
    color: black;
    text-decoration: none;
}

.prod-name_tag:hover{
    text-decoration: underline;
}