*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
}

.header-note{
    background-color: black;
    padding: 13px 0;
    text-align: center;
    font-size: 13px;
}

.header-note_text{
    color: white;
    text-decoration: none;
}

.header-nav{
    height: 95px;
    display: flex;
    position: relative;
    align-items: center;
}

.header-nav_bigbox{
    width: 33.3%;
    display: flex;
}

.bigbox-center{
    justify-content: center;
}

.bigbox-right{
    justify-content: end;
}

.header-nav_menu{
    height: 40px;
    width: 40px;
    border: none;
    margin-left: 20px;
    background-color: white;
    transition: transform 0.1s ease-in-out;
}

.header-nav_menu:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.header-nav_logo{
    width: 200px;
    background-color: black;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.header-nav_logo_text{
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
}

.header-nav_rightbox{
    margin-right: 20px;
}

.rightbox-icon{
    padding: 0 20px;
    text-decoration: none;
    transition: transform 0.1s ease-in-out;
}

.rightbox-icon-img:hover{
    transform: scale(1.1);
}

#container{
    position: relative;
    width: 100%;
}
.container-banner{
    position: relative;
    display: flex;
    height: 750px;
    background: url(/asset/img/newbackground.png) center no-repeat;
    justify-content: center;
}

.container-banner_box {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    padding: 10px 0;
    justify-content: center;
}

.container-banner_box_text{
    color: whitesmoke;
    font-weight: bold;
    padding: 0 0 30px 0;
}

.container-banner_box_btn{
    padding: 15px 140px;
    font-size: 16px;
    margin-left: 18px;
    letter-spacing: 4px;
    background-color: white;
}

.container-banner_box_btn:hover{
    cursor: pointer;
    background-color: #ccc;
}

.container-navcollection{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-navcollection_left{
    position: relative;
    width: 20%;
    display: flex;
    justify-content: space-around;
    height: 85px;
    margin-left: 20px;
}

.navcollection_left{
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
}

.navcollection_left_newarrival{
    border-bottom: 2px solid black;
}

.navcollection_left_text{
    font-size: 18px;
    color: gray;
    text-decoration: none;
}

.container-navcollection_btnshowall{
    margin-right: 20px;
    width: 8%;
    display: flex;
    background-color: black;
    transition: box-shadow 0.3s ease-in-out;
}

.navcollection_btnshowall_text{
    padding: 10px 0;
    margin: auto;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 12px;
}

.container-navcollection_btnshowall:hover{
    box-shadow: 0 0 0 4px #000000;
}

/*---------------------------------*/

.container-listnewarrival{
    width: 100%;
    position: relative;
    display: flex;
}

.container-listnewarrival_product{
    position: relative;
    width: 25%;
    border: .3px solid rgb(238, 237, 237);
    padding: 10px 20px;
    font-size: 14px;
}

.prod-background {
    object-fit: cover;
}

.prod-background_img{
    width: 100%;
}

.prod-color{
    height: 15px;
    width: 15px;
    background-color: green;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.2));
    margin: 10px 0 20px 0;
}

.prod-name{
    display: block;
    padding-bottom: 5px;
}

.prod-price{
    display: inline-block;
    font-size: 16px;
}

.prod-color_prod2{
    height: 15px;
    margin: 10px 0 20px 0;
    display: flex;
}

.prod-color-prod{
    height: 100%;
    width: 15px;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.2));
}

.prod-name_tag {
    color: black;
    text-decoration: none;
}

.prod-name_tag:hover{
    text-decoration: underline;
}

.ourcollection{
    display: block;

}

.ourcollection .navcollection_left{
    border: none;
}

.navcollection_left_text{
    font-size: 20px;
}

.ourcollection-list{
    position: relative;
    display: flex;
}

.ourcollection-list_container{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    overflow-y: hidden;
}

.ourcollection-list-prods{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
    width: 100%;
}

.ourcollection-list-prods_prod:first-child{
    margin-left: 20px;
}

.ourcollection-list-prods_prod:last-child{
    margin-right: 20px;
}

.ourcollection-list-prods_prod{
    flex: 0 0 auto;
    height: 80%;
    width: 30%;
}

.ourcollection-list-prods_prod:hover .prods-prod_img{
    transform: scale(1.01);
}

.prods-prod_text:hover{
    cursor: pointer;
}

.prods-prod_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prods-prod_text{
    font-weight: 200;
    padding-top: 15px;
    font-size: 1rem;
}

.ourcollection-list_btn{
    position: absolute;
}

.ourcollection-list_btn{
    top: 0;
    bottom: 0;
    width: 50px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.prev{
    left: 20px;
}

.next{
    right: 20px;
}

.list-styling{
    width: 100%;
    padding: 0;
    gap: 0;
}

.styling{
    position: relative;
    width: 25%;
    height: auto;
    border: 1px solid lightgray;
}

.styling:first-child{
    margin-left: 0;
}

.styling:last-child{
    margin-right: 0;
}

.styling-prod_img{
    width: 90%;
    height: auto;
    object-fit: contain;
    display: flex;
    margin: auto;
    margin: 20px;
}

.styling-prod_text{
    width: 100%;
    text-align: center;
    padding: 0 0 15px 0;
    font-size: 14px;
}

.styling-prod_text:hover{
    text-decoration: underline;
}

.styling-prod_bbtn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.styling-prod_btn{
    width: 80%;
    padding: 10px 0;
    background-color: black;
    color: white;
    font-weight: 500;
}

.container-styling{
    position: relative;
}

.prev{
    z-index: 10;
}

.next{
    z-index: 10;
}

.styling-prod_btn:hover{
    cursor: pointer;
    transform: scale(1.01);
}

.container-w23{
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 30px;
    padding: 30px 20px;
    background-color: #fbfbfb;
}

.container-w23_video{
    position: relative;
    display: block;
    width: 50%;
    height: 350px;
}

.myVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-w23_right{
    width: 50%;
    display: flex;
    padding-left: 70px;
    flex-flow: column;
    justify-content: center;
}

.w23-right_title{
    display: block;
    font-weight: 100;
}

.w23-right_text{
    padding: 15px 0;
    text-align: left;
    line-height: 1.6;
}

.w23-right_btn{
    padding: 15px 0;
    font-weight: 300;
    color: white;
    background-color: black;
    width: 35%;
}

.dream{
    position: relative;
    margin-top: 0;
    display: flex;
    padding: 30px 20px;
    background-color: #fbfbfb;
}

.container-w23_left{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 50%;
    padding-left: 40px;
}

.container-w23_imgs{
    position: relative;
    padding: 0;
    width: 50%;
}

.container-w23_img{
    width: 100%;
    object-fit: cover;
}

.feedback-list-prods_prod{
    height: 100%;
}

footer{
    position: relative;
    padding: 30px 0 30px 20px;
}

.footer-top{
    position: relative;
    display: flex;
    width: 100%;
}

.footer-left{
    width: 50%;
}

.footer-left_text{
    padding: 15px 0;
    font-size: 14px;
}

.footer-left_btn{
    background-color: #f7f2f2;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
}

.footer-left_btn:hover{
    cursor: pointer;
}

.footer-right{
    width: 50%;
    display: flex;
}

li{
    list-style-type: none;
}

.footer-right_columns{
    width: 25%;
    padding-left: 15px;
}

.footer-right_columns ul{
    display: block;
    font-size: 14px;
}

.footer-right_columns_title{
    padding: 0 0 5px 0;
}

.footer-right_columns ul li ul{
    display: flex;
}

.footer-right_columns ul li ul li{
    padding: 0 5px;
    font-size: 16px;
}

.footer-right_columns ul li {
    padding: 10px 0;
}

.footer-chungnhan{
    display: flex;
    position: relative;
    justify-content: end;
}

.udl:hover{
    text-decoration: underline;
}

.backtotop{
    background-color: black;
    position: fixed;
    right: 0;
    bottom: 10%;
    padding: 10px;
    z-index: 100;
    color: white;
}

#taskbar{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
    display: none;
    overflow-y: unset;
    cursor: crosshair;
}

#taskbar.modal-open {
    overflow: hidden;
  }

.taskbar-show {
    left: 0; /* Hiển thị taskbar khi có class này */
    animation: slideInLeft 0.5s forwards; /* Áp dụng hiệu ứng di chuyển */
}

.taskbar-content{
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    animation: slideInLeft 0.5s forwards;

}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%); /* Bắt đầu từ vị trí bên trái ngoài màn hình */
    }
    100% {
      transform: translateX(0); /* Di chuyển đến vị trí hiển thị */
    }
  }

.taskbar-top{
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.taskbar-top_title{
    padding-left: 50px;
}

.taskbar-top_close{
    border: none;
    background-color: white;
}

.taskbar-top_close:hover{
    cursor: pointer;
    transform: scale(1.01);
}


.taskbar-container ul li:first-child{
    margin-top: 40px;
}

.taskbar-container ul li:last-child{
    color: red;
}

.taskbar-container ul li{
    display: block;
    padding: 10px 5px 10px 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.li-2_link{
    display: flex;
    justify-content: space-between; 
}

.taskbar-container ul li:hover{
    cursor: pointer;
    background-color: #f7f2f2;
    border-left: 5px solid black;
}

.fa-arrow-right{
    color: lightgrey;
}

.ul-2, .ul-3{
    position: absolute;
    display: none;
    left: 250px;
    top: 0;
    background-color: white;
    height: 100%;
    width: 250px;
    border: 1px solid lightgrey;
}

.ul-2{
    padding-top: 98px;
}

.taskbar-container ul li:hover .ul-2{
    display: block;
}

.ul-2 .li-2:hover .ul-3{
    display: block;
}

.li-3 {
    text-align: center;
}

.li-3_img{
    width: 100%;
}

.ul-3:hover .li-3 {
    background-color: white;
    cursor: pointer;
}

.ul-3{
    overflow-y: scroll;
}



